asgiref==3.11.1
crispy-bootstrap5==2026.3
distlib==0.4.0
Django==6.0.3
django-crispy-forms==2.6
et_xmlfile==2.0.0
filelock==3.28.0
openpyxl==3.1.5
platformdirs==4.9.6
python-discovery==1.2.2
sqlparse==0.5.5
tzdata==2026.1
virtualenv==21.2.4
