{% extends 'base.html'%}
{% block content %}
 <div class= "cardshadow-sm mx-auto" style="max-width: 600px;">
    <div class="card-header bg-blue text-blue text-centre">
        <h3 class="mb-0">Goods Received Note</h3>


    </div>

    <div class="card-body">
        <!-- <h4 class="text-centre">Hardware sales</h4> -->
        <p class="text-centre text muted">Official Goods Received Note</p>
        <hr>
        <p><strong>GRN Number:</strong>GRN-{{receipt.id}}</p>
        <p><strong>Date Received:</strong>{{ receipt.date_received|date:"j F Y,H:i"}}</p>
        <hr>
        <table class="table table-bordered">
            <tr>
                <th>Product</th>
                <td>{{receipt.product.product_name}}</td>
            </tr>
            <tr>
                <th>Supplier</th>
                <td>{{receipt.supplier_name}}</td>
            </tr>
            <tr>
                <th>Quantity Received</th>
                <td>{{receipt.quantity_received}}</td>
            </tr>
            <tr>
                <th>Current Stock</th>
                <td>{{ receipt.product.current_stock }}</td>
            </tr>
            <tr>
                <th>Unit Cost</th>
                <td>{{ receipt.unit_cost}}</td>
            </tr>
            <tr>
                <th>Total Amount Due</th>
                <td><strong>{{receipt.total_amount}}</strong></td>
            </tr>
            <tr>
                <th>Supplier payment Status</th>
                <td>
                    {% if receipt.supplier_paid %}
                    PAID
                    {% else %}
                    Not PAID
                    {% endif %}
                </td>
            </tr>
        </table>
        <p class="text-centre mt-4">Goods received and recorded sucessfully!</p>

    </div>
<div class="card-footer text-centre no-print">
    <button onclick="window.print()" class="btn btn-primary">Print GRN</button>
    <a href="{%url 'stock_receipt_list' %}" class="btn btn-secondary">Back to the Receipts</a>
</div>
 </div>
 {% endblock %}
