{% extends 'base.html'%}

{% block content %}
<h1 class="mb-3"><i class="bi bi-grid"></i> Stock Report</h1>
<a href="{% url 'export_stock_report_excel' %}" class="btn btn-secondary mb-2">Export Excel</a>
<table class="table table-bordered table-stripes shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>Product</th>
            <th>Total Received</th>
            <th>Total Sold</th>
            <th>Current Stock</th>
            <th>Status</th>
        </tr>

    </thead>
<tbody>
    {% for item in report %}
    <tr>
        <td>{{item.product.product_name}}</td>
        <td>{{item.total_received}}</td>
        <td>{{item.total_sold}}</td>
        <td>{{item.current_stock}}</td>
        <td>
            {% if item.status == "Low Stock" %}
            <span class="badge bg-danger">{{ item.status}}</span>
            {% elif item.status == "Medium Stock" %}
            <span class="badge bg-secondary">{{item.status}}</span>
            {% else %}
            <span class="badge bg-success">{{item.status}}</span>
            {% endif %}

        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="6" class="text_centre">No stock</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
