{% extends 'base.html' %}

{% block content %}

<div class="card mb-4" style="background: linear-gradient(135deg, #1a5f7a 0%, #0d3d4f 100%); color: white;">
        <div class="card-body">
            <h3 class="mb-0">📦 Product</h3>
            <small>Product supplied to NYONDO Hardware</small>
            <a href="{% url 'create_product' %}" class="btn btn-success btn-sm"><span>Add Product</span></a>
        </div>

<table class="table table-bordered table-striped shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>Product Name</th>
            <th>Category</th>
            <th>Cost Price</th>
            <th>Current Unit Price</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.product_name }}</td>
            <td>{{ product.category_name.category_name }}</td>
            <td>{{product.cost_price}}</td>
            <td>{{ product.unit_price }}</td>
            <td>{{ product.description }}</td>
            <td>
                <a href="{% url 'edit_product' product.id %}" class="btn btn-primary btn-sm">Edit</a>
                <a href="{% url 'delete_product' product.id %}" class="btn btn-danger btn-sm">Delete</a>
                

            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5" class="text-center">No products found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}